* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    font-family: sans-serif;
    color: #212121;
  }
  
  input,
  button {
    padding: 0;
    margin: 0;
    border: 0;
    background: none;
  }
  
  .contacts {
    padding: 20px;
  }
  
  .form {
    display: grid;
    grid-template-columns: 1fr 1fr 60px;
    grid-template-rows: 27px 27px;
    grid-row-gap: 6px;
    grid-column-gap: 4px;
    grid-template-areas:
      "name phone btn"
      "avatar avatar btn";
    margin-bottom: 16px;
  }
  
  .form input {
    height: 100%;
    border-radius: 8px;
    border: 1px solid #a0a4a8;
    padding-left: 6px;
    width: 100%;
  }
  
  .form__name {
    grid-area: name;
  }
  
  .form__phone {
    grid-area: phone;
  }
  
  .form__avatar {
    grid-area: avatar;
  }
  
  .form__btn {
    grid-area: btn;
    background: #007eff;
    box-shadow: 0px 8px 16px rgba(0, 126, 255, 0.16);
    border-radius: 8px;
    cursor: pointer;
  }
  
  .contacts__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
  }
  
  .contact {
    display: grid;
    grid-template-columns: 60px 1fr 20px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "avatar name close"
      "avatar phone ...";
    padding: 12px;
    grid-column-gap: 12px;
    grid-row-gap: 6px;
    background: #f9f9fa;
    border-radius: 6px;
  }
  
  .contact__name {
    font-size: 18px;
    font-weight: bold;
    align-self: end;
    grid-area: name;
  }
  
  .contact__phone {
    font-size: 14px;
    color: #aaa;
    grid-area: phone;
  }
  
  .contact__btn {
    grid-area: close;
    cursor: pointer;
  }
  
  .contact__avatar {
    grid-area: avatar;
    height: 60px;
    border-radius: 50%;
    background-color: #cacccf;
    background-image: url("https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png");
    background-size: cover;
  }
  